body {
  background-color: $bakcground-color-body;
}

.side-bar {
  background-color: $background-color-sidebar;
}

.top-bar {
  background-color: $color-light;
}

section {
  .container {
    background-color: $color-light;
  }
}
