/* Side bar section */
.side-bar {
  height: $top-bar-height;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  z-index: 10;

  .logo {
    position: relative;

    img {
      margin: 20px;
    }

    i {
      position: absolute;
      font-size: 20px;
      top: 50%;
      right: 18px;
      transform: translateY(-50%);

      &:hover {
        color: $main-color;
      }
    }
  }

  &.active {
    height: 100vh;
    overflow-y: auto;
  }

  .side-bar__menu--bottom {
    border-top: 1px solid $font-color;
    display: none;

    .container--flex {
      flex-direction: column;
      margin-top: auto;
    }

    .col--auto {
      width: 100%;
      text-align: left;
      border: 0;
    }

    .notification__indicate {
      left: 10%;
    }

    a {
      padding-left: 10px;
    }

    a:hover {
      color: $color-light;
      background-color: #282828;
      border-left: 2px solid $main-color;

    }

    a:hover i {
      color: $color-light;
    }

    a:hover .notification__indicate {
      left: 11%;
    }
  }
}

.side-bar__messenger {
  margin-top: 41px;
  border-top: 1px solid $font-color;
  padding-left: 20px;
  overflow-x: hidden;
  min-height: 250px;
  height: 100%;

  .messenger-contact {
    margin-bottom: 40px;
    position: relative;

    i {
      z-index: 1;
      position: absolute;
      bottom: 20px;
      left: 30px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $color-green;
      opacity: 0;
    }

    h2 {
      text-transform: uppercase;
      font-size: $text-font-size;
      margin-top: 28px;
      margin-bottom: 34px;
    }

    img {
      position: absolute;
      bottom: -15%;
    }

    a {
      margin-left: 53px;
      display: block;
    }

  }

  .messenger-contact.active {
    i {
      opacity: 1;
    }
  }
}

@media(max-width: 668px) {
  .side-bar {
    .side-bar__menu--bottom {
      display: block;
    }
  }
}
