*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  max-width: 1060px;
  margin: 0px auto;
  padding: 15px;
}

.container--flex {
  display: flex;
  flex-wrap: wrap;

  .col--12 {
    flex: 100%;
  }

  .col--6 {
    flex: 50%;
  }

  .col--4 {
    flex: 33.333333%;
  }

  .col--3 {
    flex: 25%;
  }

  .col--auto {
    flex: 0 0 auto;
  }
}

.top-bar {
  position: fixed;
  top: 0;
  left: $side-bar-width;
  height: $top-bar-height;
  width: calc(100vw - 188px);
}

.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: $side-bar-width;
  height: 100vh;
}

.sections {
  section {
    margin: 11px 18px;

    &:first-child {
      margin-top: 78px;
    }
  }
}

@media (max-width: 1460px) {
  .container {
    margin-left: $side-bar-width;
  }
}

