*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  max-width: 1060px;
  margin: 0px auto 0px $side-bar-width;
  padding: 15px;
}

.top-bar {
  position: fixed;
  top: 0;
  left: $side-bar-width;
  height: $top-bar-height;
  width: 100vh;
}

.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: $side-bar-width;
  height: 100vh;
}

.sections {
  section {
    &:first-child {
      margin-top: 78px;
    }
  }
  margin: 11px 18px;
}

