/* Colors */
$font-color: #979797;
$main-color: #f58220;
$link-main-color: #56819f;
$background-color-sidebar: #333333;
$bakcground-color-body: #F5F5F2;
$color-light: #FFFFFF;

/* Font sizes */
$header-font-size: 16px;
$text-font-size: 14px;

/* Fonts */
$main-font: 'Roboto', sans-serif;

/* Dimensions */
$top-bar-height: 60px;
$side-bar-width: 188px;

/* Decorations */
$border-redius: 3px;
