.side-list {
  li {
    a {
      display: block;
      padding: 10px;
      margin: 5px 0;
      color: $font-color;

      &.active {
        color: $color-light;
        background-color: $color-dark;
        border-left: 2px solid $main-color;
      }

      &.active i {
        color: $color-light;
      }
    }

    i {
      margin-right: 15px;
      font-size: 18px;
    }

    a:hover {
      color: $color-light;
      background-color: $color-dark;
      border-left: 2px solid $main-color;

      i {
        color: $color-light;
      }
    }
  }
}
