/* Table links */
.table-links {
  width: 100%;
  height: 58px;
  border-collapse: collapse;

  tr {
    td {
      border-bottom: 1px solid black;
      border-top: 1px solid black;

      &:first-child {
        text-align: left;
      }

      &:first-child h2 {
        margin-left: 17px;
      }

      &:nth-child(2) {
        text-align: right;
      }

      &:nth-child(2) a {
        margin-right: 17px;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: $color-light-gray;
    }
  }
}
