.top-menu {
  .container--flex {
    justify-content: flex-end;
  }

  .col--auto {
    width: 180px;
    text-align: center;
    border-left: 2px solid black;
    height: $top-bar-height;

    h2, p {
      margin: 0px 15px;
    }

    h2, i, p {
      display: inline-block;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 15px 0;
    }

    a:hover p, a:hover h2{
      color: $main-color;
    }

    .icon-arrow-down-small {
      margin-top: 0;
      font-size: 10px;
    }

    &:nth-child(2n) {
      width: 60px;
    }
  }

  .notification {
    position: relative;
    height: 100%;

    .notification__indicate {
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $main-color;
      left: 50%;
      top: 20%;
      opacity: 0;
    }

    &.active {
      .notification__indicate {
        opacity: 1;
      }
    }
  }

  a:hover {
    i {
      color: $main-color;
    }
  }
}
